.s {
  /*   text-align: center; */
}
/* TO ALIGN CARDS IN ROW  */
#products1 .pro-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}

#products1 {
  text-align: center;
}

#products1 .pro {
  border-radius: 20px;
  width: 23%;
  min-width: 250px;
  padding: 10px 12px 10px;
  border: 1px solid #cce7d0;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.1);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}

#products1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
}

#products1 .pro img {
  border-radius: 20px;
}

#products1 .pro .des {
  text-align: start;
  padding: 10px 0;
}

#products1 .pro .des span {
  color: #606063;
  font-size: 12pz;
}

#products1 .pro .des h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}

#products1 .pro .des i {
  font-size: 12px;
  color: rgb(243, 181, 25);
}

#products1 .pro .des h4 {
  padding-top: 7px;
  color: #088178;
  font-size: 15px;
  font-weight: 700;
}

#products1 .pro .s-cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  font-weight: 500;
  color: #088178;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
}
